.sign-up {
  position: relative;

  color: $white;

  min-height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;

  &__body {
    @include referral-body(540px);

    &-title {
      @include referral-title;

      padding: 0 0 70px;
    }

    &-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      grid-column-gap: 30px;
      grid-row-gap: 50px;

      padding: 0 0 40px;
    }

    &-checkbox {
      @include referral-checkbox;
      padding-bottom: 45px;
    }

    &-input {
      margin: 0 !important;
      @include referral-input;
    }

    &-actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    &-btn {
      flex: 1;
      height: 70px;

      margin: 0 15px 0 0;
    }

    &-social {
      width: 70px;
      height: 70px;

      margin: 0 0 0 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      &.white {
        background: $white;
      }

      &.blue {
        background: $blue1;
      }
    }

    &-terms {
      @include referral-helper(75px, 55px, 45px, 30px, 30px)
    }
    &-sign {
      @include referral-helper(10px, 10px, 10px, 10px, 5px)
    }
  }

  &__bg {
    @include bg;
  }
}

// 992
@include media-breakpoint-down(md) {
  .sign-up {

    &__body {

      &-title {
        padding: 0 0 60px;
      }
    }
  }
}

// 768
@include media-breakpoint-down(sm) {
  .sign-up {

    &__body {

      &-title {
        padding: 0 0 50px;
      }

    }
  }
}

// 576
@media screen and (max-width: 576px) {
  .sign-up {

    &__body {
      width: 100% !important;

      &-form {
        grid-template-columns: 1fr;
      }

      &-checkbox {
        padding: 0 0 40px;
      }

      &-actions {
        margin: 0 -5px;
      }

      &-btn {
        width: 100%;
        flex: 1 0 calc(100% - 10px);

        margin: 0 5px 10px;
      }

      &-social {
        flex: 1;
        width: 100%;
        height: 50px;

        margin: 0 5px;
      }
    }
  }
}
